<h1>Listing changings</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @changings.each do |changing| %>
  <tr>
    <td><%= link_to 'Show', changing %></td>
    <td><%= link_to 'Edit', edit_changing_path(changing) %></td>
    <td><%= link_to 'Destroy', changing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Changing', new_changing_path %>
